## Base16 {{scheme-name}}
## Author: {{scheme-author}}

bg={{base00-hex}}ff
fg={{base07-hex}}ff
match={{base0D-hex}}ff
selectionbg={{base01-hex}}ff
selectionfg={{base07-hex}}ff
border={{base0B-hex}}ff
