/*

!/aria2/
!/base16-shell/
!/fish/
!/foot/
!/flavours/
!/gamemode.ini
!/gtk-3.0/
!/kanshi/
!/mako/
!/mpv/
/mpv/watch_later
!/nvim/
!/rofi/
!/sway/
!/swaylock/
!/swaynag/
!/tmux/
!/waybar/
!/wob/

!/README.MD
!/.gitignore
!/.gitmodules
