## Base16 {{scheme-name}}
# Author: {{scheme-author}}

background={{base00-hex}}
border={{base0E-hex}}
border-bottom={{base0E-hex}}
button-background={{base00-hex}}
text={{base07-hex}}
button-text={{base07-hex}}
details-background={{base00-hex}}
