## Base16 {{scheme-name}}
## Author: {{scheme-author}}

text-color=#{{base07-hex}}
text-ver-color=#{{base07-hex}}
text-clear-color=#{{base07-hex}}
text-wrong-color=#{{base07-hex}}

key-hl-color=#{{base07-hex}}
bs-hl-color=#{{base0A-hex}}

line-color=#{{base01-hex}}
line-ver-color=#{{base01-hex}}
line-clear-color=#{{base01-hex}}
line-wrong-color=#{{base01-hex}}

inside-color=#{{base01-hex}}
inside-ver-color=#{{base01-hex}}
inside-clear-color=#{{base01-hex}}
inside-wrong-color=#{{base01-hex}}

ring-color=#{{base01-hex}}
ring-ver-color=#{{base0D-hex}}
ring-clear-color=#{{base0A-hex}}
ring-wrong-color=#{{base08-hex}}

separator-color=#00000000
